################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/POMP-A1/.vs/POMP-A1/FileContentIndex
/POMP-A1/.vs/POMP-A1/v17/ipch/AutoPCH
/POMP-A1/.vs/POMP-A1/v17
/POMP-A1/POMP-A1/__vm
/SuperviPOMP/SuperviPOMP/.vs/SuperviPOMP/FileContentIndex/0d477e91-f472-451e-bef8-e4632fcece29.vsidx
/SuperviPOMP/SuperviPOMP/.vs/SuperviPOMP/FileContentIndex/43d085e6-2189-4af4-a4d8-2fe8d3ca6ea4.vsidx
/SuperviPOMP/SuperviPOMP/.vs/SuperviPOMP/v17/.suo
/SuperviPOMP/SuperviPOMP/packages/Fleck.1.2.0/lib/net40/Fleck.dll
/SuperviPOMP/SuperviPOMP/packages/Fleck.1.2.0/lib/net45/Fleck.dll
/SuperviPOMP/SuperviPOMP/packages/Fleck.1.2.0/lib/netcoreapp2.0/Fleck.dll
/SuperviPOMP/SuperviPOMP/packages/Fleck.1.2.0/.signature.p7s
/SuperviPOMP/SuperviPOMP/packages/Fleck.1.2.0/Fleck.1.2.0.nupkg
/SuperviPOMP/SuperviPOMP/packages/Fleck.1.2.0/lib/netstandard2.0/Fleck.dll
/SuperviPOMP/SuperviPOMP/SuperviPOMP/bin/Debug/Fleck.dll
/SuperviPOMP/SuperviPOMP/SuperviPOMP/obj/Debug/SuperviPOMP.csproj.AssemblyReference.cache
/SuperviPOMP/SuperviPOMP/SuperviPOMP/obj/Debug/SuperviPOMP.csproj.CopyComplete
/SuperviPOMP/SuperviPOMP/SuperviPOMP/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SuperviPOMP/SuperviPOMP/SuperviPOMP/obj/Debug/MainWindow.baml
/SuperviPOMP/SuperviPOMP/SuperviPOMP/obj/Debug/SuperviPOMP.csproj.CoreCompileInputs.cache
/SuperviPOMP/SuperviPOMP/SuperviPOMP/obj/Debug/SuperviPOMP.csproj.FileListAbsolute.txt
/SuperviPOMP/SuperviPOMP/SuperviPOMP/obj/Debug/SuperviPOMP.csproj.GenerateResource.cache
/SuperviPOMP/SuperviPOMP/SuperviPOMP/obj/Debug/SuperviPOMP.exe
/SuperviPOMP/SuperviPOMP/SuperviPOMP/obj/Debug/SuperviPOMP.g.resources
/SuperviPOMP/SuperviPOMP/SuperviPOMP/obj/Debug/SuperviPOMP.pdb
/SuperviPOMP/SuperviPOMP/SuperviPOMP/obj/Debug/SuperviPOMP.Properties.Resources.resources
/SuperviPOMP/SuperviPOMP/SuperviPOMP/obj/Debug/SuperviPOMP_MarkupCompile.cache
/SuperviPOMP/SuperviPOMP/SuperviPOMP/obj/Debug/SuperviPOMP_MarkupCompile.i.cache
